body {
    background-color: aliceblue;
    color: black;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    color: brown;
    background-color: aliceblue;
    text-align: center;
}

h2 {
    color: darkslateblue;
    background-color: aliceblue;
    text-align: center;
}

p {
    color: black;
    background-color: aliceblue;
    margin-top: 3em;
    margin-left: 15%;
}