h1 {
    color: rgb(16, 201, 16);
    background-color: inherit;
    text-align: center;
}

h2 {
    color: rgb(100, 9, 100);
    background-color: inherit;
    text-align: center;
}

h3 {
    color: blue;
    background-color: inherit;
    text-align: center;
}

h4 {
    color: rgb(252, 247, 0);
    background-color: inherit;
    text-align: center;
}

body {
    background-color: rgb(128, 126, 126);
    color: black;
}

p {
    color: black;
    background-color: inherit;
}