h1 {
    color: rgb(0, 126, 0);
    background-color: inherit;
    text-align: center;
}

h2 {
    color: rgb(100, 9, 100);
    background-color: inherit;
    text-align: center;
}

h3 {
    color: rgb(0, 0, 139);
    background-color: inherit;
    text-align: center;
}

h4 {
    color: rgb(34, 33, 0);
    background-color: inherit;
    text-align: center;
}

body {
    background-color: white;
    color: black;
}

p {
    color: black;
    background-color: inherit;
}