h1 {
    text-align: center;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: lightyellow;
    color:inherit;
    width: 50%;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
}

h2 {
    border: 2px;
    padding: 10px;
    border-color: black;
    border-style: solid;
    width: 50%;
    text-align: center;
    background-color: lightgray;
    color: inherit;
    margin-left: 10%;
    margin-bottom: 2em;
}

img {
    margin-left: 15%;
}

body {
    background-color: coral;
    color:black;
}