body {
  height: inherit;
  overflow: hidden;
  max-width: 740px;
  margin: 0 auto;
  background: #247E1D;
  color: white;
}

canvas { 
  margin-top: 5em;
  background: black; 
  color: inherit;
  border-radius: 15px;
}

p {
  margin-top: 1em;
  font-size: larger;
  margin-bottom: 2em;
}

label {
  display: none;
}

div {
  margin: auto;
  width: 60%;
  padding: 10px;
}

input, button {
  font-size: large;
}

input {
  margin-bottom: 10em;
}

.a1 {
  margin-left: 5em;
  margin-bottom: 10em;
  user-select: none;
}

.mobile1, .mobile2 {
  float: left;
  width: 6em;
  height: 6em;
}

.mobile1 {
  margin-right: 12em;
}

#controles {
  margin-top: 6em;
}

label {
  display: none;
}

html {
  overflow-y: scroll;
}

#start {
  margin-right: 1em;
}
