body {
  height: inherit;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
  background: #247E1D;
}

canvas { 
  margin-top: 5em;
  background: black; 
  border-radius: 15px;
}

p {
  margin-top: 1em;
  font-size: larger;
  margin-bottom: 2em;
}

div {
  margin: auto;
  width: 60%;
  padding: 10px;
}

input, button {
  font-size: large;
}

input {
  margin-bottom: 10em;
}

.a1 {
  margin-left: 5em;
  margin-bottom: 5em;
}

.mobile1 {
  float: left;
}

.mobile1 {
  float: left;
  width: 6em;
  height: 6em;
  margin-left: 2em;
}

#controles {
  margin-top: 6em;
}

label {
  display: none;
}

html {
  overflow-y: scroll;
}
